.Container {
  height: 87vh;
  background-color: wheat;
  padding: 2%;
}

.Signin {
  width: 280px;
  margin: 2% auto;
  box-shadow: 0 2px 3px #ccc;
  border: solid 1px #eee;
  padding: 16px 12px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.Signin h4 {
  margin: 12px 0;
}

.Signin .ErrorMsg {
  color: red;
  font-size: 0.8rem;
}

.Signin button {
  width: 100%;
  margin: 6px auto;
  height: 40px;
}

.Signin .GoogleIcon {
  margin-right: 6px;
}

.Signin .GoogleSigninBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}