.Burger {
  width: 430px;
  min-height: 280px;
  margin: auto;
  overflow: auto;
  border: solid 1px #eee;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 5px;
  background-color: white;
  padding-top: 6px;
  display: flex;
  align-items: center;
}

@media (max-width: 630px) {
  .Burger {
    width: 95%;
    min-height: 200px;
  }
}